# Example: mysql+pymysql://root:Nitin%402007@localhost:3306/cybertrace
# For local dev without MySQL installed, you can use: sqlite:///./cybertrace.db
DATABASE_URL=mysql+pymysql://root:Nitin%402007@localhost:3306/cybertrace

SECRET_KEY=b14ITfywMcNNSSd_IVfKymGHVe5ee-HM2ngeEszJWOM
ACCESS_TOKEN_EXPIRE_MINUTES=720

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123


CLIENT_ORIGIN=http://localhost:3306
